RewriteEngine On

#######################################
# Dash settings
#######################################

# Allow SSI to parse .html files
AddHandler server-parsed .html

# Point /-/ to the Dash framework
RewriteRule ^-/(.*)$ /.dash/dash.php/$1 [L,QSA]

# Custom addition to allow the Preparser plugin to work
RewriteRule Preparser - [L]
RewriteCond %{QUERY_STRING} !PREPARSER_SUBREQ
RewriteCond %{REQUEST_URI} !dash.php
RewriteRule ^(.*\.html)$ /-/Preparser?path=$1 [L,QSA]